body {
	min-height:100vh;
}

#loginAlert,
#registerAlert {
	display: none;
}

.col-auto {
	overflow-x:auto;
	overflow-y: hidden;
}

table {
	table-layout: fixed;	
}

table, tr, td {
	padding: 10px;
	cursor: default;
}

td {
	height: 50px;
	min-width: 50px;
	padding: 0;
	text-align: center;
	font-size: 30px;
	word-wrap: normal;
}

 footer {
	 height: 60px;
	 line-height: 60px;
	 text-align: center;
 }

 .solutionX {
	 top: 0;
	 bottom: 0;
	 border-width: 3px !important;
 }

 .strike {
	 text-decoration: line-through;
 }

 #gameInstructions {
	 display: none;
 }