body {
	min-height:100vh;
}

table, th, tr, td {
	padding: 5px;
	font-size: 30px;
}

td {
	height: 50px;
	width: 50px;
	padding: 0;
	text-align: center;
}

.rectangle {
	visibility: visible;
	height: 50px;
	background: none;
	border-radius: 20px;
	border-width: 3px !important;
	/* -webkit-transform-origin: 21px 21px ;
	-ms-transform-origin: 21px 21px;
	-o-transform-origin: 21px 21px;
	transform-origin: 21px 21px; */
}

 footer {
	 height: 60px;
	 line-height: 60px;
	 text-align: center;
 }

 .solutionX {
	 /* position: absolute; */
	 border-radius: 20px;
	 border-width: 3px !important;
	 top: 0;
	 bottom: 0;
 }