body {
	min-height:100vh;
}

.col-auto {
	overflow-x:auto;
	overflow-y: hidden;
}

table, th, tr, td {
	padding: 5px;
	font-size: 30px;
}

td {
	height: auto;
	height: 50px;
	width: 50px;
	padding: 0;
	text-align: center;
	
}

 footer {
	 height: 60px;
	 line-height: 60px;
	 text-align: center;
 }

 .solutionX {
	 border-radius: 20px;
	 top: 0;
	 bottom: 0;
	 border-width: 3px !important;
 }